APP_NAME="AI FORMAWORK"
SERVICE_NAME="web"

SUPABASE_URL=http://127.0.0.1:62021
SUPABASE_SERVICE_ROLE_KEY=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:62021
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:62022/postgres

AI_GATEWAY_API_KEY="YOUR_API_KEY"

NEXT_PUBLIC_DEFAULT_PASSWORD="Admin@789!"
NEXT_PUBLIC_DEFAULT_USERNAME=admin@example.com
